<div class="comment-box clearfix">
<img src="assets/img/blog/blog-1.jpg" class="img-responsive" alt="">
	<span>by <%= comment.name %></span>
		<p><%= comment.body %></p>
		<p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago</p>
	</div>

	<% if admin_signed_in? %>
	<p><%= link_to 'Delete', [comment.post, comment],
								  method: :delete,
								  class: "button",
								 	data: { confirm: 'Are you sure?' } %></p>
 	<% end %>
 </div>
