
        <section id="slider-sec" class="slider-reg">
            <div class="main-flex-slider">
                <ul class="slides">
                    <li>
                        <figure>

                            <img src="assets/img/img-1.jpg" class="img-responsive" alt="slider-img-1">
                            <figcaption class="slider-overlay ">
                                <div class="slider-text animated fadeInDown">
                                    <h1>WE ARE THINKPR</h1>
                                    <p>
                                        The PR and Communications Agency, where you get what you see
                                    </p>
                                    <p class="slide-btn"><a href="/expertise" class="btn btn-white btn-lg">Explore our expertise</a></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>

<!--  Slider needs fixing  -->
              <!--       <li>
                        <figure>
                            <img src="assets/img/img-2.jpg" class="img-responsive" alt="slider-img-1">
                            <figcaption class="slider-overlay">
                                <div class="slider-text">
                                    <h1>clean and modern design</h1>
                                    <p>
                                        Bizwrap is a Useful theme that you can use for your Business.
                                    </p>
                                    <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">View Portfolio</a></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li>
                        <figure>
                            <img src="assets/img/img-3.jpg" class="img-responsive" alt="slider-img-1">
                            <figcaption class="slider-overlay">
                                <div class="slider-text">
                                    <h1>Perfect for Small Projects</h1>
                                    <p>
                                        Bizwrap mainly design for small business projects.
                                    </p>
                                    <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">Contact us</a></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li> -->
                </ul>
            </div>
        </section><!--main flex slider end-->
        <div class="space-50"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center wow animated fadeInUp">
                    <h2>Bizwrap built for Minimal business Projects</h2>
                    <h3 class="subtitle">With Clean and Modern Design</h3>
                </div>
                <div class="space-70"></div>
                <div class=" col-sm-4">
                    <div class="services-box">
                        <i class="ion-laptop"></i>
                        <h1>Responsive design</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisl risus, porta sit amet dui eget...
                        </p>
                    </div>
                </div><!--services box-->
                <div class=" col-sm-4">
                    <div class="services-box">
                        <i class="ion-ios-color-wand-outline"></i>
                        <h1>Creative ideas</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisl risus, porta sit amet dui eget...
                        </p>
                    </div>
                </div><!--services box-->
                <div class="col-sm-4">
                    <div class="services-box">
                        <i class="ion-social-twitter-outline"></i>
                        <h1>Bootstrap3</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nisl risus, porta sit amet dui eget...
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--row end-->
        </div><!--intro with services end-->
        <div class="space-70"></div><div class="space-30"></div>

        
        <div class="space-70"></div>
        <section id="content-region-1" class="padding-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 features">
                        <h3>Our services</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. Praesent gravida dignissim felis, id sagittis mauris rutrum non. Nullam pretium id sem ut hendrerit.
                        </p>
                        <div class="space-30"></div>
                        <div class="row">
                            <div class="col-md-3 services-icon">
                                <i class="ion-laptop"></i>
                            </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">100% Responsive layout</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. 
                                </p>
                            </div>
                        </div><!--services list-->
                        <div class="space-30"></div>
                        <div class="row">
                            <div class="col-md-3 services-icon">
                                <i class="ion-ios-barcode-outline"></i>
                            </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">Clean code</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. 
                                </p>
                            </div>
                        </div><!--services list-->
                        <div class="space-30"></div>
                        <div class="row">
                            <div class="col-md-3 services-icon">
                                <i class="ion-compose"></i>
                            </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">Easy customization</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. 
                                </p>
                            </div>
                        </div><!--services list-->
                        <div class="space-30"></div>
                        <div class="row">
                            <div class="col-md-3 services-icon">
                                <i class="ion-compose"></i>
                            </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">Easy customization</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. 
                                </p>
                            </div>
                        </div><!--services list-->
                           <div class="space-30"></div>
                        <div class="row">
                            <div class="col-md-3 services-icon">
                                <i class="ion-compose"></i>
                            </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">Easy customization</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut ipsum mauris. Fusce condimentum mollis eros vitae facilisis. 
                                </p>
                            </div>
                        </div><!--services list-->


                    </div>
                    <div class="col-md-5">
                        <img src="assets/img/ipad.png" class="img-responsive" alt="">
                    </div>
                </div>

            </div><!--container-->
        </section><!--features end-->

        <section>
        <div class="container" id="clients_slider">
        <h3 class="heading-sec" align="center">Our clients</h3>
        </br>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                  
                    <div class="item active container">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="assets/img/adidas_logo.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="assets/img/le_coq_sportif_1.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="assets/img/nivea.jpg" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="assets/img/logo_cola.jpg" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                    </div>
                    
                    <div class="item container">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="images/adidas_logo.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                      </div>
                    
                    <div class="item container">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                        <img class="col-md-2 col-sm-2 col-xs-2 logo img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn1/t1/p160x160/1010549_378823185552943_1788436797_n.png" alt="...">
                     </div>
                    
                  </div>

                    <div align="center" style="margin-top:20px;">
                    <!-- Controls -->
                          <a class="left" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                          </a>
                          <a class="right" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                          </a>
                    </div>
                  
                </div>
            </div>
        </section>




         
        <section id="content-region-4" class="padding-40">

            <div class="container">
                <div class="row" id="testimonials_slider">
                    <div class="col-md-12 text-center">
                        <div class="testimonials">
                            <ul class="slides">
                                <li>
                                    <p class="testi-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus massa in mauris rhoncus aliquam. Suspendisse nec velit vestibulum, euismod quam id, pellentesque elit. Ut a interdum metus, vel dictum nibh."<p>
                                        <span class="testi-person">John Doe - company inc  </span>
                                </li>
                               <!--  <li>
                                    <p class="testi-text">"Sed fringilla sem sed massa ullamcorper, vitae rutrum justo sodales. Cras sed iaculis enim. Sed aliquet viverra nisl a tristique. Curabitur vitae mauris sem. Pellentesque iaculis nibh leo, mattis aliquet arcu tincidunt at."<p>
                                        <span class="testi-person">John terry - company inc  </span>
                                </li>
                                <li>
                                    <p class="testi-text">"Cras adipiscing odio nunc, non laoreet urna suscipit ac. Pellentesque congue egestas risus viverra pharetra. Morbi pretium orci magna, vitae mattis nisl viverra eleifend. Vestibulum euismod erat non ligula hendrerit tincidunt."<p>
                                        <span class="testi-person">victoria - company inc </span>
                                </li> -->
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--testimonials section end here-->
<!--         <div class="container"><hr></div>
 -->        <div class="space-70"></div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="heading-sec">Latest Blog Posts</h3>
                </div>
            </div><!--row-->
            <div class="row">
                <div class="col-md-4 col-sm-6 margin-btm-20">
                    <div class="news-sec">
                        <div class="news-thumnail">
                            <a href="blog-post.html">
                                <img src="assets/img/blog/blog-1.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="news-desc">
                            <h3 class="blog-post-title"><a href="blog-post.html" class="hover-color">Lorem ipsum dollor sit amet</a></h3>
                            <span class="news-post-cat">On 26 may 2014 | sports</span>
                            <p>
                                aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                            </p>
                        </div>
                    </div>
                </div><!--latest news items-->
                <div class="col-md-4 col-sm-6 margin-btm-20">
                    <div class="news-sec">
                        <div class="news-thumnail">
                            <a href="blog-post.html">
                                <img src="assets/img/blog/blog-2.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="news-desc">
                            <h3 class="blog-post-title"><a href="blog-post.html" class="hover-color">Lorem ipsum dollor sit amet</a></h3>
                            <span class="news-post-cat">On 26 may 2014 | sports</span>
                            <p>
                                aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                            </p>
                        </div>
                    </div>
                </div><!--latest news items-->
                <div class="col-md-4 col-sm-6 margin-btm-20">
                    <div class="news-sec">
                        <div class="news-thumnail">
                            <a href="blog-post.html">
                                <img src="assets/img/blog/blog-4.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                        <div class="news-desc">
                            <h3 class="blog-post-title"><a href="blog-post.html" class="hover-color">Lorem ipsum dollor sit amet</a></h3>
                            <span class="news-post-cat">On 26 may 2014 | sports</span>
                            <p>
                                aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna..
                            </p>
                        </div>
                    </div>
                </div><!--latest news items-->
            </div><!--row end-->
        </div><!--container recent news end-->
        <div class="space-50"></div>
        <div class="cta-bg">
            <div class="container text-center">
                <h3>Need support strategizing a campaign? Get in touch today!
                    <a href="/contact" class="btn btn-lg btn-white btn-radius">CONTACT US</a>
                </h3>
            </div>
        </div>
       