.logo {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
   -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
  cursor:pointer;
}


.logo:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
}

#clients_slider {
  min-height: 360px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#testimonials_slider {
/*  min-height: 200px;
*/  padding-top: 0px;
  padding-bottom: 0px;
}